In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('data/MessiRonaldo.csv')

In [9]:
# df.head()
# # df.tail()
# df.info()   # to dispplay technical information about the dataaset
df.describe()

,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,35.555556,13.055556,33.388889,2840.833333,10.444444,3.388889,10.722222,936.777778
std,8.226372,4.491459,3.201817,321.289177,3.467873,2.226548,2.191039,208.341223
min,25.000000,5.000000,27.000000,2297.000000,6.000000,0.000000,6.000000,450.000000
25%,28.750000,11.000000,31.250000,2565.250000,8.000000,2.000000,10.000000,814.250000
50%,34.000000,12.500000,34.000000,2836.500000,10.000000,3.500000,11.000000,990.500000
75%,42.250000,15.500000,35.750000,3071.000000,12.000000,4.000000,12.000000,1076.000000
max,50.000000,21.000000,38.000000,3375.000000,17.000000,9.000000,13.000000,1200.000000

In [10]:
df.columns

Index(['Season', 'Player', 'Liga_Goals', 'Liga_Asts', 'Liga_Aps', 'Liga_Mins',
       'CL_Goals', 'CL_Asts', 'CL_Aps', 'CL_Mins'],
      dtype='object')

In [11]:
goals = df[['Player','Liga_Goals','CL_Goals']]
goals.head()

    Player  Liga_Goals  CL_Goals
0    Messi          34         6
1  Ronaldo          26        15
2    Messi          37        11
3  Ronaldo          25        12
4    Messi          26         6

In [16]:
# messi = df[df['Player']=='Messi']
ronaldo = df[df['Player']=='Ronaldo']
ronaldo.head()

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
1,2017-18,Ronaldo,26,5,27,2297,15,3,13,1170
3,2016-17,Ronaldo,25,6,29,2544,12,5,13,1200
5,2015-16,Ronaldo,35,11,36,3184,16,4,12,1109
7,2014-15,Ronaldo,48,16,35,3096,10,4,12,1064
9,2013-14,Ronaldo,31,11,30,2537,17,6,11,991

In [ ]:
# to sum the column of Liga_Goals
# messi['Liga_Goals'].sum()
messi['Liga_Goals'].sum() + messi['CL_Goals'].sum()

np.int64(412)

In [25]:
# to sum the column of Liga_Goals
# ronaldo['Liga_Goals'].sum()
# ronaldo['CL_Goals'].sum()
ronaldo['Liga_Goals'].sum() + ronaldo['CL_Goals'].sum()

np.int64(416)

In [27]:
df[df['Liga_Goals'] >= 40]

,Season,Player,Liga_Goals,Liga_Asts,Liga_Aps,Liga_Mins,CL_Goals,CL_Asts,CL_Aps,CL_Mins
6,2014-15,Messi,43,21,38,3375,10,6,13,1145
7,2014-15,Ronaldo,48,16,35,3096,10,4,12,1064
10,2012-13,Messi,46,14,32,2629,8,3,11,827
12,2011-12,Messi,50,20,37,3270,14,9,11,990
13,2011-12,Ronaldo,46,13,38,3353,10,4,10,930
15,2010-11,Ronaldo,40,13,34,2914,6,4,12,1018