***Welcome to class***

In [1]:
print("welcome to class")

welcome to class

In [1]:
a = 'jone'
def myname():
    global a
    a = 'sulaimon'
    # print("my name is:" + a)
myname()
print("i love:" + a)

i love:sulaimon

In [24]:
#string slicing range

a = "i love coding"

print(a[3:9])

#string slice from start

print(a[:4])

#slice to end

print(a[2:])

#negative slicing
print(a[-9:-3])

ove co
i lo
love coding
ve cod

In [ ]:
#how to modify string

a = "i love coding"

print(a.upper())

#replace

print(a.replace("ove","uv"))

I LOVE CODING
i luv coding

Removing white space from a string

In [27]:
a = " i love coding"
print(a)
print(a.strip())

 i love coding
i love coding

In [ ]:
a = "i love coding at age"

b = 25

c = f"i am {b} years old"

print(c)

i am 25 years old

In [ ]:
# print(7>9)

a = 5
b = 10

# if a < b:
#    print("correct")
# else:
#    print("wrong")
    
def myfunc():
    if a < b:
        return True
    else:
        return False
myfunc()
print(myfunc())

True

Operators

In [ ]:
#arithmetic operators

a = 5
b = 2
c = a ** b
print(c)

25

Assignment operators

In [73]:
a +=3    # a = a + 3
b -=3    # b = b - 3
c *=3    # c = c * 3

SET

In [14]:
a = ("love", "me", "bad")
b = ["love", "me", "bad"]
d = {"love","me","bad"}
c = {"loveme":"mebad"}
print(type(a))
print(type(b))
print(type(d))
print(type(c))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [80]:
a = 0
while(a <= 5):
    print(a)
    if a==3:
        break
    a +=1

0
1
2
3

In [ ]:
x = 5
y = "Hello"
print(x)
print(y)

In [ ]:
"""
this is a comment
"""
#tripple string can also be used for comment/ multiline string
print("Hello")

Hello

In [30]:
x = 5 # x is of type int
x = "Wale" # y is of type str
print(x)

Wale

In [31]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0 
print(x)
print(y)
print(z)

3
3
3.0

1. What is a correct way to declare a python variable?
var x = 5
#x = 5
$x = 5
x = 5
Ans: x = 5

In [ ]:
#3.

In [ ]:
#4. Which is not a legal variable name ANS: my-var
my-var = 20
my_var = 20
Myvar = 20
_myvar = 20

In [43]:
#5. Create a variable named carname and assign a value Volvo for it
carname = 'Volvo'
print(carname)

Volvo

In [42]:
#6. Create a variable named x and assign a value 50 for it
x = 50
print(x)

50

In [44]:
#7. What is a correct syntac to add the value 'Hello World', to 3 variables in one statement
x = y = z = 'Hello World'
print(x)
print(y)
print(z)

Hello World
Hello World
Hello World

In [34]:
#8. Consider the following code

fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits
print(a)

apple

In [ ]:
#9. Consider the following code

print('Hello', 'World')

Hello World

In [8]:
#10. Consider the following code ANS: HelloWorld

a = 'Hello'
b = 'World'
print(a + b)

HelloWorld

In [ ]:
#11. Consider the following code ANS: 9

a = 4
b = 5
print(a + b)

9

In [ ]:
#11b. Consider the following code ANS: Python is awesome

x = 'awesome'
def myfunc():
    x = 'fantastic'
myfunc()
print('Python is ' + x)

Python is awesome

In [65]:
x = 'Wale'

def myfunc():
    
    x = 'Peju'
    
    print('Adewole is ' + x)
myfunc()

print('Python is ' + x)

Adewole is Peju
Python is Wale

In [67]:
x = 'Ayoola'
def myfunc():
    x = 'Adepeju'
    print('Python is ' + x)
myfunc()
print('Python is ' + x)

Python is Adepeju
Python is Ayoola

In [68]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [69]:
x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)

Python is awesome

In [75]:
x = 1.5
print(type(x))

<class 'float'>